to_be_ported/DASH_mpdvalidator/schemas/DASH-MPD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schema [
	<!-- space  -->
	<!ENTITY space "&#x20;">
	<!-- ^T - horizontal tab -->
	<!ENTITY tab "&#x09;">
	<!-- % -->
	<!ENTITY pct "&#x25;">
	<!-- " -->
	<!ENTITY quot "&#x22;">
	<!-- ^ -->
	<!ENTITY carat "&#94;">
	<!-- | -->
	<!ENTITY pipe "&#124;">
	<!-- ' -->
	<!ENTITY squote "&#39;">
	<!-- ` -->
	<!ENTITY grave "&#96;">
	<!-- RFC 1738 -->
	<!ENTITY lowalpha "a-z">
	<!ENTITY hialpha "A-Z">
	<!ENTITY alpha "&lowalpha;&hialpha;">
	<!ENTITY digit "0-9">
	<!ENTITY safe "$\-_.+">
	<!ENTITY extra "!*(),&quot;">
	<!ENTITY national "{}|\\^~[]`">
	<!ENTITY punctuation "<>#&pct;&quot;">
	<!ENTITY x-reserved ";/?:@=">
	<!ENTITY reserved "&x-reserved;&amp;">
	<!ENTITY hex "&digit;A-Fa-f">
	<!ENTITY escape "&pct;&hex;&hex;">
	<!ENTITY unreserved "&alpha;&digit;&safe;&extra;">
	<!ENTITY hex16 "[&hex;]{1,4}">
	<!ENTITY allFs "[fF]{4}">
	<!ENTITY chrs "&unreserved;&pct;&amp;~;=:@">
	<!ENTITY uword "(:([&digit;]{1,4}|[1-5][&digit;]{4}|6[0-4][&digit;]{3}|65[0-4][&digit;]{2}|655[0-2][&digit;]|6553[0-5]))">
	<!ENTITY DecimalByte "((25[0-5]|(2[0-4]|1{0,1}[&digit;]){0,1}[&digit;]))">
	<!ENTITY Scheme "[&alpha;][&alpha;&digit;+\-.]*">
	<!ENTITY User "([&unreserved;&pct;&amp;~;=]+)">
	<!ENTITY Password "([&unreserved;&pct;&amp;~;=]+)">
	<!ENTITY NamedHost "[&alpha;&digit;&pct;\-._~]+">
	<!ENTITY IPv4Host "&DecimalByte;(.&DecimalByte;){3}">
	<!ENTITY IPv6Address "((&hex16;:){7,7}&hex16;|(&hex16;:){1,7}:|(&hex16;:){1,6}:&hex16;|(&hex16;:){1,5}(:&hex16;){1,2}|(&hex16;:){1,4}(:&hex16;){1,3}|(&hex16;:){1,3}(:&hex16;){1,4}|(&hex16;:){1,2}(:&hex16;){1,5}|&hex16;:((:&hex16;){1,6})|:((:&hex16;){1,7}|:)|fe80:(:&hex16;){0,4}&pct;[&hex;]{1,}|::(&allFs;(0{1,4}){0,1}:){0,1}&IPv4Host;|(&hex16;:){1,4}:&IPv4Host;)">
	<!ENTITY IPv6Host "\[&IPv6Address;\]">
	<!ENTITY IPvFutureHost "\[v[a-f&digit;][&unreserved;&pct;&amp;~;=:]+\]">
	<!ENTITY Port "&uword;">
	<!ENTITY Path "(/[&chrs;]+)">
	<!ENTITY AuthorityAndPath "//(&User;(:&Password;)?@)?(&NamedHost;|&IPv6Host;|&IPvFutureHost;)&Port;?&Path;*/?">
	<!ENTITY PathNoAuthority "(/?[&chrs;]+&Path;*/?)">
	<!ENTITY RelativePath "[&chrs;]+&Path;*">
	<!ENTITY AbsolutePath "&Path;+">
	<!ENTITY Query "(\?[&chrs;/?]*)">
	<!ENTITY Fragment "(#[&chrs;/?]*)">
	<!-- IETF RFC 2141 -->
	<!ENTITY NamespaceID "[&alpha;&digit;][&alpha;&digit;-]{1,31}">
	<!ENTITY NSS-others "()+,\-\.:=@;$_!*'">
	<!ENTITY NSS-reserved "&pct;/?#">
	<!ENTITY NamespaceSpecific "[&alpha;&digit;&NSS-others;&NSS-reserved;]+">
	<!ENTITY URN "urn:&NamespaceID;:&NamespaceSpecific;">
	<!ENTITY URL "(&Scheme;:(&AuthorityAndPath;|&PathNoAuthority;)|(&RelativePath;/?|&AbsolutePath;/?))&Query;?&Fragment;?">
	<!-- IETF RFC 2045 -->
	<!ENTITY TOKEN "[&alpha;&digit;&safe;&carat;&pipe;&squote;&grave;&pct;!*#\\~&amp;]">
	<!-- IETF RFC 2231 -->
	<!ENTITY ext_octet "&pct;[&hex;]{2}">
	<!ENTITY attribute_char "[&alpha;&digit;&safe;!#\\^{}|`~&amp;]">
	<!-- IETF RFC 6381 -->
	<!ENTITY octet_sim "&TOKEN;">
	<!ENTITY id_simple "&octet_sim;+">
	<!ENTITY simp_list "&quot;&id_simple;(,&id_simple;)*&quot;">
	<!ENTITY charset "[&alpha;\-]+">
	<!ENTITY language "[&alpha;]{1,8}(-[&alpha;]{1,8})*">
	<!ENTITY octet_fancy "(&ext_octet;|&attribute_char;)">
	<!ENTITY encoded_elm "&octet_fancy;+">
	<!ENTITY id_encoded "&encoded_elm;(\.&encoded_elm;)*">
	<!ENTITY id_list "&id_encoded;(,&id_encoded;)*">
	<!ENTITY fancy_list "&quot;&charset;&squote;&language;&squote;&id_list;&quot;">
	<!-- -->
	<!-- -->
	<!ENTITY comma_sep ",[&space;&tab;]*">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="urn:mpeg:dash:schema:mpd:2011" targetNamespace="urn:mpeg:dash:schema:mpd:2011" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/XML/2008/06/xlink.xsd">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			xlink import. URL is per https://www.w3.org/TR/xlink/  Users are encouraged to store a local copy
		</xs:documentation>
		</xs:annotation>
	</xs:import>
	<xs:annotation>
		<xs:appinfo>Media Presentation Description</xs:appinfo>
		<xs:documentation xml:lang="en">
			This Schema defines the Media Presentation Description for MPEG-DASH.
		</xs:documentation>
	</xs:annotation>
	<xs:element name="MPD" type="MPDtype">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			MPD: main element
		</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MPDtype">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			MPD Type
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProgramInformation" type="ProgramInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Location" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PatchLocation" type="PatchLocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ServiceDescription" type="ServiceDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitializationSet" type="InitializationSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitializationGroup" type="UIntVWithIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitializationPresentation" type="UIntVWithIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContentProtection" type="ContentProtectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Period" type="PeriodType" maxOccurs="unbounded"/>
			<xs:element name="Metrics" type="MetricsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EssentialProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SupplementalProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UTCTiming" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LeapSecondInformation" type="LeapSecondInformationType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="profiles" type="ListOfProfilesType" use="required"/>
		<xs:attribute name="type" type="PresentationType" default="static"/>
		<xs:attribute name="availabilityStartTime" type="xs:dateTime"/>
		<xs:attribute name="availabilityEndTime" type="xs:dateTime"/>
		<xs:attribute name="publishTime" type="xs:dateTime"/>
		<xs:attribute name="mediaPresentationDuration" type="xs:duration"/>
		<xs:attribute name="minimumUpdatePeriod" type="xs:duration"/>
		<xs:attribute name="minBufferTime" type="xs:duration" use="required"/>
		<xs:attribute name="timeShiftBufferDepth" type="xs:duration"/>
		<xs:attribute name="suggestedPresentationDelay" type="xs:duration"/>
		<xs:attribute name="maxSegmentDuration" type="xs:duration"/>
		<xs:attribute name="maxSubsegmentDuration" type="xs:duration"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="PatchLocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Patch Location Type
		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="ttl" type="xs:double" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PresentationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Presentation Type enumeration
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="static"/>
			<xs:enumeration value="dynamic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PeriodType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Period
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SegmentBase" type="SegmentBaseType" minOccurs="0"/>
			<xs:element name="SegmentList" type="SegmentListType" minOccurs="0"/>
			<xs:element name="SegmentTemplate" type="SegmentTemplateType" minOccurs="0"/>
			<xs:element name="AssetIdentifier" type="DescriptorType" minOccurs="0"/>
			<xs:element name="EventStream" type="EventStreamType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ServiceDescription" type="ServiceDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContentProtection" type="ContentProtectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdaptationSet" type="AdaptationSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Subset" type="SubsetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SupplementalProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EmptyAdaptationSet" type="AdaptationSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GroupLabel" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Preselection" type="PreselectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xlink:href"/>
		<xs:attribute ref="xlink:actuate" default="onRequest"/>
		<xs:attribute ref="xlink:type" fixed="simple"/>
		<xs:attribute ref="xlink:show" fixed="embed"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="start" type="xs:duration"/>
		<xs:attribute name="duration" type="xs:duration"/>
		<xs:attribute name="bitstreamSwitching" type="xs:boolean" default="false"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="EventStreamType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Event Stream
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Event" type="EventType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xlink:href"/>
		<xs:attribute ref="xlink:actuate" default="onRequest"/>
		<xs:attribute ref="xlink:type" fixed="simple"/>
		<xs:attribute ref="xlink:show" fixed="embed"/>
		<xs:attribute name="schemeIdUri" type="xs:anyURI" use="required"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="timescale" type="xs:unsignedInt"/>
		<xs:attribute name="presentationTimeOffset" type="xs:unsignedLong" default="0"/>
	</xs:complexType>
	<xs:complexType name="EventType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Event
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="presentationTime" type="xs:unsignedLong" default="0"/>
		<xs:attribute name="duration" type="xs:unsignedLong"/>
		<xs:attribute name="id" type="xs:unsignedInt"/>
		<xs:attribute name="contentEncoding" type="ContentEncodingType"/>
		<xs:attribute name="messageData" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="en">
					Deprecated in favor of carrying the message information in the
					value space of the event
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="ContentEncodingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Event Coding
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="base64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InitializationSetType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Initialization Set
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="xlink:href"/>
				<xs:attribute ref="xlink:actuate" default="onRequest"/>
				<xs:attribute ref="xlink:type" fixed="simple"/>
				<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
				<xs:attribute name="inAllPeriods" type="xs:boolean" default="true"/>
				<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
				<xs:attribute name="par" type="RatioType"/>
				<xs:attribute name="maxWidth" type="xs:unsignedInt"/>
				<xs:attribute name="maxHeight" type="xs:unsignedInt"/>
				<xs:attribute name="maxFrameRate" type="FrameRateType"/>
				<xs:attribute name="initialization" type="xs:anyURI"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceDescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Service Description
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Scope" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Latency" type="LatencyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PlaybackRate" type="PlaybackRateType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OperatingQuality" type="OperatingQualityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OperatingBandwidth" type="OperatingBandwidthType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="LatencyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Service Description Latency
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QualityLatency" type="UIntPairsWithIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="referenceId" type="xs:unsignedInt"/>
		<xs:attribute name="target" type="xs:unsignedInt"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="min" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="PlaybackRateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Service Description Playback Rate
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="max" type="xs:double"/>
		<xs:attribute name="min" type="xs:double"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="OperatingQualityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Service Description Operating Quality
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="mediaType" default="any">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="video"/>
					<xs:enumeration value="audio"/>
					<xs:enumeration value="any"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:unsignedInt"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="target" type="xs:unsignedInt"/>
		<xs:attribute name="type" type="xs:anyURI"/>
		<xs:attribute name="maxDifference" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="OperatingBandwidthType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Service Description Operating Bandwidth
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="mediaType" default="all">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="video"/>
					<xs:enumeration value="audio"/>
					<xs:enumeration value="any"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:unsignedInt"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="target" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="UIntPairsWithIDType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			UInt Pairs With ID
		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="UIntVectorType">
				<xs:attribute name="type" type="xs:anyURI"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UIntVWithIDType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			UInt Vector With ID
		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="UIntVectorType">
				<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
				<xs:attribute name="profiles" type="ListOfProfilesType"/>
				<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ListOfProfilesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			List of Profiles
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(&URN;|&URL;)(&comma_sep;(&URN;|&URL;))*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdaptationSetType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Adaptation Set
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ContentComponent" type="ContentComponentType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SegmentBase" type="SegmentBaseType" minOccurs="0"/>
					<xs:element name="SegmentList" type="SegmentListType" minOccurs="0"/>
					<xs:element name="SegmentTemplate" type="SegmentTemplateType" minOccurs="0"/>
					<xs:element name="Representation" type="RepresentationType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="xlink:href"/>
				<xs:attribute ref="xlink:actuate" default="onRequest"/>
				<xs:attribute ref="xlink:type" fixed="simple"/>
				<xs:attribute ref="xlink:show" fixed="embed"/>
				<xs:attribute name="id" type="xs:unsignedInt"/>
				<xs:attribute name="group" type="xs:unsignedInt"/>
				<xs:attribute name="lang" type="xs:language"/>
				<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
				<xs:attribute name="par" type="RatioType"/>
				<xs:attribute name="minBandwidth" type="xs:unsignedInt"/>
				<xs:attribute name="maxBandwidth" type="xs:unsignedInt"/>
				<xs:attribute name="minWidth" type="xs:unsignedInt"/>
				<xs:attribute name="maxWidth" type="xs:unsignedInt"/>
				<xs:attribute name="minHeight" type="xs:unsignedInt"/>
				<xs:attribute name="maxHeight" type="xs:unsignedInt"/>
				<xs:attribute name="minFrameRate" type="FrameRateType"/>
				<xs:attribute name="maxFrameRate" type="FrameRateType"/>
				<xs:attribute name="segmentAlignment" type="xs:boolean" default="false"/>
				<xs:attribute name="subsegmentAlignment" type="xs:boolean" default="false"/>
				<xs:attribute name="subsegmentStartsWithSAP" type="SAPType" default="0"/>
				<xs:attribute name="bitstreamSwitching" type="xs:boolean"/>
				<xs:attribute name="initializationSetRef" type="UIntVectorType"/>
				<xs:attribute name="initializationPrincipal" type="xs:anyURI"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RatioType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Ratio Type for sar and par
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*:[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FrameRateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Type for Frame Rate
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+(/[1-9][0-9]*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RFC6838ContentTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Type for RFC6838 Content Type
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="text"/>
			<xs:enumeration value="image"/>
			<xs:enumeration value="audio"/>
			<xs:enumeration value="video"/>
			<xs:enumeration value="application"/>
			<xs:enumeration value="font"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContentComponentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Content Component
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:unsignedInt"/>
		<xs:attribute name="lang" type="xs:language"/>
		<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
		<xs:attribute name="par" type="RatioType"/>
		<xs:attribute name="tag" type="TagType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="RepresentationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Representation
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ExtendedBandwidth" type="ExtendedBandwidthType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SubRepresentation" type="SubRepresentationType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SegmentBase" type="SegmentBaseType" minOccurs="0"/>
					<xs:element name="SegmentList" type="SegmentListType" minOccurs="0"/>
					<xs:element name="SegmentTemplate" type="SegmentTemplateType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="id" type="StringNoWhitespaceType" use="required"/>
				<xs:attribute name="bandwidth" type="xs:unsignedInt" use="required"/>
				<xs:attribute name="qualityRanking" type="xs:unsignedInt"/>
				<xs:attribute name="dependencyId" type="StringVectorType"/>
				<xs:attribute name="associationId" type="StringVectorType"/>
				<xs:attribute name="associationType" type="ListOf4CCType"/>
				<xs:attribute name="mediaStreamStructureId" type="StringVectorType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtendedBandwidthType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Extended Bandwidth Model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ModelPair" type="ModelPairType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="vbr" type="xs:boolean" default="false"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ModelPairType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Model Pair
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="bufferTime" type="xs:duration" use="required"/>
		<xs:attribute name="bandwidth" type="xs:unsignedInt" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="StringNoWhitespaceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			String without white spaces
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[^\r\n\t \p{Z}]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SubRepresentationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			SubRepresentation
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:attribute name="level" type="xs:unsignedInt"/>
				<xs:attribute name="dependencyLevel" type="UIntVectorType"/>
				<xs:attribute name="bandwidth" type="xs:unsignedInt"/>
				<xs:attribute name="contentComponent" type="StringVectorType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RepresentationBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Representation base (common attributes and elements)
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FramePacking" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AudioChannelConfiguration" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContentProtection" type="ContentProtectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OutputProtection" type="DescriptorType" minOccurs="0"/>
			<xs:element name="EssentialProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SupplementalProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InbandEventStream" type="EventStreamType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Switching" type="SwitchingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RandomAccess" type="RandomAccessType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GroupLabel" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Label" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProducerReferenceTime" type="ProducerReferenceTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContentPopularityRate" type="ContentPopularityRateType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Resync" type="ResyncType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="profiles" type="ListOfProfilesType"/>
		<xs:attribute name="width" type="xs:unsignedInt"/>
		<xs:attribute name="height" type="xs:unsignedInt"/>
		<xs:attribute name="sar" type="RatioType"/>
		<xs:attribute name="frameRate" type="FrameRateType"/>
		<xs:attribute name="audioSamplingRate" type="AudioSamplingRateType"/>
		<xs:attribute name="mimeType" type="xs:string"/>
		<xs:attribute name="segmentProfiles" type="ListOf4CCType"/>
		<xs:attribute name="codecs" type="CodecsType"/>
		<xs:attribute name="containerProfiles" type="ListOf4CCType"/>
		<xs:attribute name="maximumSAPPeriod" type="xs:double"/>
		<xs:attribute name="startWithSAP" type="SAPType"/>
		<xs:attribute name="maxPlayoutRate" type="xs:double"/>
		<xs:attribute name="codingDependency" type="xs:boolean"/>
		<xs:attribute name="scanType" type="VideoScanType"/>
		<xs:attribute name="selectionPriority" type="xs:unsignedInt" default="1"/>
		<xs:attribute name="tag" type="TagType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ContentProtectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Content Protection
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DescriptorType">
				<xs:attribute name="robustness" type="StringNoWhitespaceType"/>
				<xs:attribute name="refId" type="xs:ID"/>
				<xs:attribute name="ref" type="xs:IDREF"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResyncType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Resynchronization Point
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" type="SAPType" default="0"/>
		<xs:attribute name="dT" type="xs:unsignedInt"/>
		<xs:attribute name="dImax" type="xs:float"/>
		<xs:attribute name="dImin" type="xs:float" default="0"/>
		<xs:attribute name="marker" type="xs:boolean" default="false"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ContentPopularityRateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Content Popularity Rate
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PR" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="popularityRate">
						<xs:simpleType>
							<xs:restriction base="xs:unsignedInt">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="start" type="xs:unsignedLong" use="optional"/>
					<xs:attribute name="r" type="xs:int" use="optional" default="0"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="source" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="content"/>
					<xs:enumeration value="statistics"/>
					<xs:enumeration value="other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="source_description" type="xs:string"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="LabelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Label and Group Label
		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:unsignedInt" default="0"/>
				<xs:attribute name="lang" type="xs:language"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProducerReferenceTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Producer Reference time
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UTCTiming" type="DescriptorType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="inband" type="xs:boolean" default="false"/>
		<xs:attribute name="type" type="ProducerReferenceTimeTypeType" default="encoder"/>
		<xs:attribute name="applicationScheme" type="xs:string"/>
		<xs:attribute name="wallClockTime" type="xs:string" use="required"/>
		<xs:attribute name="presentationTime" type="xs:unsignedLong" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="ProducerReferenceTimeTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="encoder"/>
			<xs:enumeration value="captured"/>
			<xs:enumeration value="application"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PreselectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Preselection
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="id" type="StringNoWhitespaceType" default="1"/>
				<xs:attribute name="preselectionComponents" type="StringVectorType" use="required"/>
				<xs:attribute name="lang" type="xs:language"/>
				<xs:attribute name="order" type="PreselectionOrderType" default="undefined"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AudioSamplingRateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Audio Sampling Rate
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UIntVectorType">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SAPType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Stream Access Point type enumeration
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VideoScanType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Video Scan type enumeration
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="progressive"/>
			<xs:enumeration value="interlaced"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TagType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Tag
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="SubsetType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Subset
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="contains" type="UIntVectorType" use="required"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="SwitchingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Switching
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="interval" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="type" type="SwitchingTypeType" default="media"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="SwitchingTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Switching Type type enumeration
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="media"/>
			<xs:enumeration value="bitstream"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RandomAccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Random Access
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="interval" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="type" type="RandomAccessTypeType" default="closed"/>
		<xs:attribute name="minBufferTime" type="xs:duration"/>
		<xs:attribute name="bandwidth" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="RandomAccessTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Random Access Type type enumeration
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="closed"/>
			<xs:enumeration value="open"/>
			<xs:enumeration value="gradual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PreselectionOrderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Preselection Order type
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="undefined"/>
			<xs:enumeration value="time-ordered"/>
			<xs:enumeration value="fully-ordered"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SegmentBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Segment information base
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Initialization" type="URLType" minOccurs="0"/>
			<xs:element name="RepresentationIndex" type="URLType" minOccurs="0"/>
			<xs:element name="FailoverContent" type="FailoverContentType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="timescale" type="xs:unsignedInt"/>
		<xs:attribute name="eptDelta" type="xs:integer"/>
		<xs:attribute name="pdDelta" type="xs:integer"/>
		<xs:attribute name="presentationTimeOffset" type="xs:unsignedLong"/>
		<xs:attribute name="presentationDuration" type="xs:unsignedLong"/>
		<xs:attribute name="timeShiftBufferDepth" type="xs:duration"/>
		<xs:attribute name="indexRange" type="SingleRFC7233RangeType"/>
		<xs:attribute name="indexRangeExact" type="xs:boolean" default="false"/>
		<xs:attribute name="availabilityTimeOffset" type="xs:double"/>
		<xs:attribute name="availabilityTimeComplete" type="xs:boolean"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="MultipleSegmentBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Multiple Segment information base
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SegmentBaseType">
				<xs:sequence>
					<xs:element name="SegmentTimeline" type="SegmentTimelineType" minOccurs="0"/>
					<xs:element name="BitstreamSwitching" type="URLType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="duration" type="xs:unsignedInt"/>
				<xs:attribute name="startNumber" type="xs:unsignedInt"/>
				<xs:attribute name="endNumber" type="xs:unsignedInt"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="URLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Segment Info item URL/range
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sourceURL" type="xs:anyURI"/>
		<xs:attribute name="range" type="SingleRFC7233RangeType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="SingleRFC7233RangeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]*)(\-([0-9]*))?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FailoverContentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Failover Content
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FCS" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="t" type="xs:unsignedLong" use="required"/>
					<xs:attribute name="d" type="xs:unsignedLong"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valid" type="xs:boolean" default="true"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="SegmentListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Segment List
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MultipleSegmentBaseType">
				<xs:sequence>
					<xs:element name="SegmentURL" type="SegmentURLType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="xlink:href"/>
				<xs:attribute ref="xlink:actuate" default="onRequest"/>
				<xs:attribute ref="xlink:type" fixed="simple"/>
				<xs:attribute ref="xlink:show" fixed="embed"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SegmentURLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Segment URL
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="media" type="xs:anyURI"/>
		<xs:attribute name="mediaRange" type="SingleRFC7233RangeType"/>
		<xs:attribute name="index" type="xs:anyURI"/>
		<xs:attribute name="indexRange" type="SingleRFC7233RangeType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="SegmentTemplateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Segment Template
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MultipleSegmentBaseType">
				<xs:attribute name="media" type="xs:string"/>
				<xs:attribute name="index" type="xs:string"/>
				<xs:attribute name="initialization" type="xs:string"/>
				<xs:attribute name="bitstreamSwitching" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SegmentTimelineType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Segment Timeline
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="S" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="t" type="xs:unsignedLong"/>
					<xs:attribute name="n" type="xs:unsignedLong"/>
					<xs:attribute name="d" type="xs:unsignedLong" use="required"/>
					<xs:attribute name="r" type="xs:integer" default="0"/>
					<xs:attribute name="k" type="xs:unsignedLong" default="1"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="StringVectorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Whitespace-separated list of strings
		</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ListOf4CCType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Whitespace separated list of 4CC
		</xs:documentation>
		</xs:annotation>
		<xs:list itemType="FourCCType"/>
	</xs:simpleType>
	<xs:simpleType name="FourCCType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			4CC as per latest 14496-12
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UIntVectorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Whitespace-separated list of unsigned integers
		</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:unsignedInt"/>
	</xs:simpleType>
	<xs:complexType name="BaseURLType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Base URL
		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="serviceLocation" type="xs:string"/>
				<xs:attribute name="byteRange" type="xs:string"/>
				<xs:attribute name="availabilityTimeOffset" type="xs:double"/>
				<xs:attribute name="availabilityTimeComplete" type="xs:boolean"/>
				<xs:attribute name="timeShiftBufferDepth" type="xs:duration"/>
				<xs:attribute name="rangeAccess" type="xs:boolean" default="false"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProgramInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Program Information
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title" type="xs:string" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Copyright" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="lang" type="xs:language"/>
		<xs:attribute name="moreInformationURL" type="xs:anyURI"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="DescriptorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Descriptor
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schemeIdUri" type="xs:anyURI" use="required"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="MetricsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Metrics
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Range" type="RangeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Reporting" type="DescriptorType" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="metrics" type="xs:string" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!--  -->
	<xs:complexType name="RangeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Metrics Range
		</xs:documentation>
		</xs:annotation>
		<xs:attribute name="starttime" type="xs:duration"/>
		<xs:attribute name="duration" type="xs:duration"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="CodecsType">
		<xs:restriction base="xs:string">
			<xs:pattern value="&charset;&squote;&language;&squote;&id_list;">
				<xs:annotation>
					<xs:documentation>RFC6381 fancy-list without enclosing double quotes</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="&id_simple;(,&id_simple;)*">
				<xs:annotation>
					<xs:documentation>RFC6381 simp-list without enclosing double quotes</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LeapSecondInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			Leap Second Information
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="availabilityStartLeapOffset" type="xs:integer" use="required"/>
		<xs:attribute name="nextAvailabilityStartLeapOffset" type="xs:integer"/>
		<xs:attribute name="nextLeapChangeTime" type="xs:dateTime"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
