mpdvalidator/schemas/DASH-MPD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="urn:mpeg:dash:schema:mpd:2011" targetNamespace="urn:mpeg:dash:schema:mpd:2011" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
	<xs:annotation>
		<xs:appinfo>Media Presentation Description</xs:appinfo>
		<xs:documentation xml:lang="en">
      This Schema defines the Media Presentation Description for MPEG-DASH.
    </xs:documentation>
	</xs:annotation>
	<!-- MPD: main element -->
	<xs:element name="MPD" type="MPDtype"/>
	<xs:element name="Period" type="PeriodType"/>
	<!-- MPD Type -->
	<xs:complexType name="MPDtype">
		<xs:sequence>
			<xs:element name="ProgramInformation" type="ProgramInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Location" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ServiceDescription" type="ServiceDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitializationSet" type="InitializationSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitializationGroup" type="UIntVWithIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitializationPresentation" type="UIntVWithIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Period" maxOccurs="unbounded"/>
			<xs:element name="Metrics" type="MetricsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EssentialProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SupplementalProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UTCTiming" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LeapSecondInformation" type="LeapSecondInformationType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="profiles" type="ListOfProfilesType" use="required"/>
		<xs:attribute name="type" type="PresentationType" default="static"/>
		<xs:attribute name="availabilityStartTime" type="xs:dateTime"/>
		<xs:attribute name="availabilityEndTime" type="xs:dateTime"/>
		<xs:attribute name="publishTime" type="xs:dateTime"/>
		<xs:attribute name="mediaPresentationDuration" type="xs:duration"/>
		<xs:attribute name="minimumUpdatePeriod" type="xs:duration"/>
		<xs:attribute name="minBufferTime" type="xs:duration" use="required"/>
		<xs:attribute name="timeShiftBufferDepth" type="xs:duration"/>
		<xs:attribute name="suggestedPresentationDelay" type="xs:duration"/>
		<xs:attribute name="maxSegmentDuration" type="xs:duration"/>
		<xs:attribute name="maxSubsegmentDuration" type="xs:duration"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Presentation Type enumeration -->
	<xs:simpleType name="PresentationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="static"/>
			<xs:enumeration value="dynamic"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Period -->
	<xs:complexType name="PeriodType">
		<xs:sequence>
			<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SegmentBase" type="SegmentBaseType" minOccurs="0"/>
			<xs:element name="SegmentList" type="SegmentListType" minOccurs="0"/>
			<xs:element name="SegmentTemplate" type="SegmentTemplateType" minOccurs="0"/>
			<xs:element name="AssetIdentifier" type="DescriptorType" minOccurs="0"/>
			<xs:element name="EventStream" type="EventStreamType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ServiceDescription" type="ServiceDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdaptationSet" type="AdaptationSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Subset" type="SubsetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SupplementalProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EmptyAdaptationSet" type="AdaptationSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GroupLabel" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Preselection" type="PreselectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xlink:href"/>
		<xs:attribute ref="xlink:actuate" default="onRequest"/>
		<xs:attribute ref="xlink:type" fixed="simple"/>
		<xs:attribute ref="xlink:show" fixed="embed"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="start" type="xs:duration"/>
		<xs:attribute name="duration" type="xs:duration"/>
		<xs:attribute name="bitstreamSwitching" type="xs:boolean" default="false"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Event Stream -->
	<xs:complexType name="EventStreamType">
		<xs:sequence>
			<xs:element name="Event" type="EventType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xlink:href"/>
		<xs:attribute ref="xlink:actuate" default="onRequest"/>
		<xs:attribute ref="xlink:type" fixed="simple"/>
		<xs:attribute ref="xlink:show" fixed="embed"/>
		<xs:attribute name="schemeIdUri" type="xs:anyURI" use="required"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="timescale" type="xs:unsignedInt"/>
		<xs:attribute name="presentationTimeOffset" type="xs:unsignedLong" default="0"/>
	</xs:complexType>
	<!-- Event  -->
	<xs:complexType name="EventType" mixed="true">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="presentationTime" type="xs:unsignedLong" default="0"/>
		<xs:attribute name="duration" type="xs:unsignedLong"/>
		<xs:attribute name="id" type="xs:unsignedInt"/>
		<xs:attribute name="contentEncoding" type="ContentEncodingType"/>
		<xs:attribute name="messageData" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Deprecated in favor of carrying the message information in the
					value space of the event
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Event Coding -->
	<xs:simpleType name="ContentEncodingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="base64"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Initialization Set -->
	<xs:complexType name="InitializationSetType">
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="xlink:href"/>
				<xs:attribute ref="xlink:actuate" default="onRequest"/>
				<xs:attribute ref="xlink:type" fixed="simple"/>
				<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
				<xs:attribute name="inAllPeriods" type="xs:boolean" default="true"/>
				<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
				<xs:attribute name="par" type="RatioType"/>
				<xs:attribute name="maxWidth" type="xs:unsignedInt"/>
				<xs:attribute name="maxHeight" type="xs:unsignedInt"/>
				<xs:attribute name="maxFrameRate" type="FrameRateType"/>
				<xs:attribute name="initialization" type="xs:anyURI"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Service Description -->
	<xs:complexType name="ServiceDescriptionType">
		<xs:sequence>
			<xs:element name="Scope" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Latency" type="LatencyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PlaybackRate" type="PlaybackRateType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OperatingQuality" type="OperatingQualityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OperatingBandwidth" type="OperatingBandwidthType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Service Description Latency -->
	<xs:complexType name="LatencyType">
		<xs:sequence>
			<xs:element name="QualityLatency" type="UIntPairsWithIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="referenceId" type="xs:unsignedInt"/>
		<xs:attribute name="target" type="xs:unsignedInt"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="min" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Service Description Playback Rate -->
	<xs:complexType name="PlaybackRateType">
		<xs:attribute name="max" type="xs:double"/>
		<xs:attribute name="min" type="xs:double"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Service Description Operating Quality -->
	<xs:complexType name="OperatingQualityType">
		<xs:attribute name="mediaType" default="any">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="video"/>
					<xs:enumeration value="audio"/>
					<xs:enumeration value="any"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:unsignedInt"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="target" type="xs:unsignedInt"/>
		<xs:attribute name="type" type="xs:anyURI"/>
		<xs:attribute name="maxDifference" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Service Description Operating Bandwidth -->
	<xs:complexType name="OperatingBandwidthType">
		<xs:attribute name="mediaType" default="all">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="video"/>
					<xs:enumeration value="audio"/>
					<xs:enumeration value="any"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:unsignedInt"/>
		<xs:attribute name="max" type="xs:unsignedInt"/>
		<xs:attribute name="target" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- UInt Pairs With ID -->
	<xs:complexType name="UIntPairsWithIDType">
		<xs:simpleContent>
			<xs:extension base="UIntVectorType">
				<xs:attribute name="type" type="xs:anyURI"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- UInt Vector With ID -->
	<xs:complexType name="UIntVWithIDType">
		<xs:simpleContent>
			<xs:extension base="UIntVectorType">
				<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
				<xs:attribute name="profiles" type="ListOfProfilesType"/>
				<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- List of Profiles -->
	<xs:simpleType name="ListOfProfilesType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([A-Za-z0-9\-\._~&#xA0;-&#xFF;]|(&#37;[0-9A-Fa-f][0-9A-Fa-f])|[!$&amp;/#'()*+;=:@]))+(,(([A-Za-z0-9\-\._~&#xA0;-&#xFF;]|(&#37;[0-9A-Fa-f][0-9A-Fa-f])|[!$&amp;/#'()*+;=:@]))*)*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Adaptation Set -->
	<xs:complexType name="AdaptationSetType">
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ContentComponent" type="ContentComponentType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SegmentBase" type="SegmentBaseType" minOccurs="0"/>
					<xs:element name="SegmentList" type="SegmentListType" minOccurs="0"/>
					<xs:element name="SegmentTemplate" type="SegmentTemplateType" minOccurs="0"/>
					<xs:element name="Representation" type="RepresentationType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="xlink:href"/>
				<xs:attribute ref="xlink:actuate" default="onRequest"/>
				<xs:attribute ref="xlink:type" fixed="simple"/>
				<xs:attribute ref="xlink:show" fixed="embed"/>
				<xs:attribute name="id" type="xs:unsignedInt"/>
				<xs:attribute name="group" type="xs:unsignedInt"/>
				<xs:attribute name="lang" type="xs:language"/>
				<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
				<xs:attribute name="par" type="RatioType"/>
				<xs:attribute name="minBandwidth" type="xs:unsignedInt"/>
				<xs:attribute name="maxBandwidth" type="xs:unsignedInt"/>
				<xs:attribute name="minWidth" type="xs:unsignedInt"/>
				<xs:attribute name="maxWidth" type="xs:unsignedInt"/>
				<xs:attribute name="minHeight" type="xs:unsignedInt"/>
				<xs:attribute name="maxHeight" type="xs:unsignedInt"/>
				<xs:attribute name="minFrameRate" type="FrameRateType"/>
				<xs:attribute name="maxFrameRate" type="FrameRateType"/>
				<xs:attribute name="segmentAlignment" type="xs:boolean" default="false"/>
				<xs:attribute name="subsegmentAlignment" type="xs:boolean" default="false"/>
				<xs:attribute name="subsegmentStartsWithSAP" type="SAPType" default="0"/>
				<xs:attribute name="bitstreamSwitching" type="xs:boolean"/>
				<xs:attribute name="initializationSetRef" type="UIntVectorType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Ratio Type for sar and par -->
	<xs:simpleType name="RatioType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*:[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Type for Frame Rate -->
	<xs:simpleType name="FrameRateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+(/[1-9][0-9]*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Type for RFC6838 Content Type -->
	<xs:simpleType name="RFC6838ContentTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="text"/>
			<xs:enumeration value="image"/>
			<xs:enumeration value="audio"/>
			<xs:enumeration value="video"/>
			<xs:enumeration value="application"/>
			<xs:enumeration value="font"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Content Component -->
	<xs:complexType name="ContentComponentType">
		<xs:sequence>
			<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:unsignedInt"/>
		<xs:attribute name="lang" type="xs:language"/>
		<xs:attribute name="contentType" type="RFC6838ContentTypeType"/>
		<xs:attribute name="par" type="RatioType"/>
		<xs:attribute name="tag" type="TagType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Representation -->
	<xs:complexType name="RepresentationType">
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="BaseURL" type="BaseURLType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SubRepresentation" type="SubRepresentationType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SegmentBase" type="SegmentBaseType" minOccurs="0"/>
					<xs:element name="SegmentList" type="SegmentListType" minOccurs="0"/>
					<xs:element name="SegmentTemplate" type="SegmentTemplateType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="id" type="StringNoWhitespaceType" use="required"/>
				<xs:attribute name="bandwidth" type="xs:unsignedInt" use="required"/>
				<xs:attribute name="qualityRanking" type="xs:unsignedInt"/>
				<xs:attribute name="dependencyId" type="StringVectorType"/>
				<xs:attribute name="associationId" type="StringVectorType"/>
				<xs:attribute name="associationType" type="ListOf4CCType"/>
				<xs:attribute name="mediaStreamStructureId" type="StringVectorType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- String without white spaces -->
	<xs:simpleType name="StringNoWhitespaceType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^\r\n\t \p{Z}]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- SubRepresentation -->
	<xs:complexType name="SubRepresentationType">
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:attribute name="level" type="xs:unsignedInt"/>
				<xs:attribute name="dependencyLevel" type="UIntVectorType"/>
				<xs:attribute name="bandwidth" type="xs:unsignedInt"/>
				<xs:attribute name="contentComponent" type="StringVectorType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Representation base (common attributes and elements) -->
	<xs:complexType name="RepresentationBaseType">
		<xs:sequence>
			<xs:element name="FramePacking" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AudioChannelConfiguration" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContentProtection" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EssentialProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SupplementalProperty" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InbandEventStream" type="EventStreamType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Switching" type="SwitchingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RandomAccess" type="RandomAccessType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GroupLabel" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Label" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProducerReferenceTime" type="ProducerReferenceTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContentPopularityRate" type="ContentPopularityRateType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="profiles" type="ListOfProfilesType"/>
		<xs:attribute name="width" type="xs:unsignedInt"/>
		<xs:attribute name="height" type="xs:unsignedInt"/>
		<xs:attribute name="sar" type="RatioType"/>
		<xs:attribute name="frameRate" type="FrameRateType"/>
		<xs:attribute name="audioSamplingRate" type="AudioSamplingRateType"/>
		<xs:attribute name="mimeType" type="xs:string"/>
		<xs:attribute name="segmentProfiles" type="ListOf4CCType"/>
		<xs:attribute name="codecs" type="CodecsType"/>
		<xs:attribute name="maximumSAPPeriod" type="xs:double"/>
		<xs:attribute name="startWithSAP" type="SAPType"/>
		<xs:attribute name="maxPlayoutRate" type="xs:double"/>
		<xs:attribute name="codingDependency" type="xs:boolean"/>
		<xs:attribute name="scanType" type="VideoScanType"/>
		<xs:attribute name="selectionPriority" type="xs:unsignedInt"/>
		<xs:attribute name="tag" type="TagType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Content Popularity Rate -->
	<xs:complexType name="ContentPopularityRateType">
		<xs:sequence>
			<xs:element name="PR" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="popularityRate">
						<xs:simpleType>
							<xs:restriction base="xs:unsignedInt">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="start" type="xs:unsignedLong" use="optional"/>
					<xs:attribute name="r" type="xs:int" use="optional" default="0"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="source" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="content"/>
					<xs:enumeration value="statistics"/>
					<xs:enumeration value="other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="source_description" type="xs:string"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Label and Group Label -->
	<xs:complexType name="LabelType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:unsignedInt" default="0"/>
				<xs:attribute name="lang" type="xs:language"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Producer Reference time -->
	<xs:complexType name="ProducerReferenceTimeType">
		<xs:sequence>
			<xs:element name="UTCTiming" type="DescriptorType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="inband" type="xs:boolean" default="false"/>
		<xs:attribute name="type" type="ProducerReferenceTimeTypeType" default="encoder"/>
		<xs:attribute name="applicationScheme" type="xs:string"/>
		<xs:attribute name="wallClockTime" type="xs:string" use="required"/>
		<xs:attribute name="presentationTime" type="xs:unsignedLong" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="ProducerReferenceTimeTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="encoder"/>
			<xs:enumeration value="captured"/>
			<xs:enumeration value="application"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Preselection -->
	<xs:complexType name="PreselectionType">
		<xs:complexContent>
			<xs:extension base="RepresentationBaseType">
				<xs:sequence>
					<xs:element name="Accessibility" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Role" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rating" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Viewpoint" type="DescriptorType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="id" type="StringNoWhitespaceType" default="1"/>
				<xs:attribute name="preselectionComponents" type="StringVectorType" use="required"/>
				<xs:attribute name="lang" type="xs:language"/>
				<xs:attribute name="order" type="PreselectionOrderType" default="undefined"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Audio Sampling Rate -->
	<xs:simpleType name="AudioSamplingRateType">
		<xs:restriction base="UIntVectorType">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Stream Access Point type enumeration -->
	<xs:simpleType name="SAPType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Video Scan type enumeration -->
	<xs:simpleType name="VideoScanType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="progressive"/>
			<xs:enumeration value="interlaced"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tag -->
	<xs:simpleType name="TagType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- Subset  -->
	<xs:complexType name="SubsetType">
		<xs:attribute name="contains" type="UIntVectorType" use="required"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Switching  -->
	<xs:complexType name="SwitchingType">
		<xs:attribute name="interval" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="type" type="SwitchingTypeType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!--Switching Type type enumeration -->
	<xs:simpleType name="SwitchingTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="media"/>
			<xs:enumeration value="bitstream"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Random Access  -->
	<xs:complexType name="RandomAccessType">
		<xs:attribute name="interval" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="type" type="RandomAccessTypeType" default="closed"/>
		<xs:attribute name="minBufferTime" type="xs:duration"/>
		<xs:attribute name="bandwidth" type="xs:unsignedInt"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Random Access Type type enumeration -->
	<xs:simpleType name="RandomAccessTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="closed"/>
			<xs:enumeration value="open"/>
			<xs:enumeration value="gradual"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Preselection Order type-->
	<xs:simpleType name="PreselectionOrderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="undefined"/>
			<xs:enumeration value="time-ordered"/>
			<xs:enumeration value="fully-ordered"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Segment information base -->
	<xs:complexType name="SegmentBaseType">
		<xs:sequence>
			<xs:element name="Initialization" type="URLType" minOccurs="0"/>
			<xs:element name="RepresentationIndex" type="URLType" minOccurs="0"/>
			<xs:element name="FailoverContent" type="FailoverContentType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="timescale" type="xs:unsignedInt"/>
		<xs:attribute name="eptDelta" type="xs:integer"/>
		<xs:attribute name="presentationTimeOffset" type="xs:unsignedLong"/>
		<xs:attribute name="presentationDuration" type="xs:unsignedLong"/>
		<xs:attribute name="timeShiftBufferDepth" type="xs:duration"/>
		<xs:attribute name="indexRange" type="SingleRFC7233RangeType"/>
		<xs:attribute name="indexRangeExact" type="xs:boolean" default="false"/>
		<xs:attribute name="availabilityTimeOffset" type="xs:double"/>
		<xs:attribute name="availabilityTimeComplete" type="xs:boolean"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Multiple Segment information base -->
	<xs:complexType name="MultipleSegmentBaseType">
		<xs:complexContent>
			<xs:extension base="SegmentBaseType">
				<xs:sequence>
					<xs:element name="SegmentTimeline" type="SegmentTimelineType" minOccurs="0"/>
					<xs:element name="BitstreamSwitching" type="URLType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="duration" type="xs:unsignedInt"/>
				<xs:attribute name="startNumber" type="xs:unsignedInt"/>
				<xs:attribute name="endNumber" type="xs:unsignedInt"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Segment Info item URL/range -->
	<xs:complexType name="URLType">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sourceURL" type="xs:anyURI"/>
		<xs:attribute name="range" type="SingleRFC7233RangeType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="SingleRFC7233RangeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]*)(\-([0-9]*))?"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Failover Content -->
	<xs:complexType name="FailoverContentType">
		<xs:sequence>
			<xs:element name="FCS" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="t" type="xs:unsignedLong" use="required"/>
					<xs:attribute name="d" type="xs:unsignedLong"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valid" type="xs:boolean" default="true"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Segment List -->
	<xs:complexType name="SegmentListType">
		<xs:complexContent>
			<xs:extension base="MultipleSegmentBaseType">
				<xs:sequence>
					<xs:element name="SegmentURL" type="SegmentURLType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="xlink:href"/>
				<xs:attribute ref="xlink:actuate" default="onRequest"/>
				<xs:attribute ref="xlink:type" fixed="simple"/>
				<xs:attribute ref="xlink:show" fixed="embed"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Segment URL  -->
	<xs:complexType name="SegmentURLType">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="media" type="xs:anyURI"/>
		<xs:attribute name="mediaRange" type="SingleRFC7233RangeType"/>
		<xs:attribute name="index" type="xs:anyURI"/>
		<xs:attribute name="indexRange" type="SingleRFC7233RangeType"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Segment Template -->
	<xs:complexType name="SegmentTemplateType">
		<xs:complexContent>
			<xs:extension base="MultipleSegmentBaseType">
				<xs:attribute name="media" type="xs:string"/>
				<xs:attribute name="index" type="xs:string"/>
				<xs:attribute name="initialization" type="xs:string"/>
				<xs:attribute name="bitstreamSwitching" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Segment Timeline -->
	<xs:complexType name="SegmentTimelineType">
		<xs:sequence>
			<xs:element name="S" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="t" type="xs:unsignedLong"/>
					<xs:attribute name="n" type="xs:unsignedLong"/>
					<xs:attribute name="d" type="xs:unsignedLong" use="required"/>
					<xs:attribute name="r" type="xs:integer" default="0"/>
					<xs:attribute name="k" type="xs:unsignedLong" default="1"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Whitespace-separated list of strings -->
	<xs:simpleType name="StringVectorType">
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<!-- Whitespace separated list of 4CC -->
	<xs:simpleType name="ListOf4CCType">
		<xs:list itemType="FourCCType"/>
	</xs:simpleType>
	<!-- 4CC as per latest 14496-12 -->
	<xs:simpleType name="FourCCType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- Whitespace-separated list of unsigned integers -->
	<xs:simpleType name="UIntVectorType">
		<xs:list itemType="xs:unsignedInt"/>
	</xs:simpleType>
	<!-- Base URL -->
	<xs:complexType name="BaseURLType">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="serviceLocation" type="xs:string"/>
				<xs:attribute name="byteRange" type="xs:string"/>
				<xs:attribute name="availabilityTimeOffset" type="xs:double"/>
				<xs:attribute name="availabilityTimeComplete" type="xs:boolean"/>
				<xs:attribute name="timeShiftBufferDepth" type="xs:duration"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Program Information -->
	<xs:complexType name="ProgramInformationType">
		<xs:sequence>
			<xs:element name="Title" type="xs:string" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Copyright" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="lang" type="xs:language"/>
		<xs:attribute name="moreInformationURL" type="xs:anyURI"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Descriptor -->
	<xs:complexType name="DescriptorType">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schemeIdUri" type="xs:anyURI" use="required"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Metrics -->
	<xs:complexType name="MetricsType">
		<xs:sequence>
			<xs:element name="Range" type="RangeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Reporting" type="DescriptorType" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="metrics" type="xs:string" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<!-- Metrics Range -->
	<xs:complexType name="RangeType">
		<xs:attribute name="starttime" type="xs:duration"/>
		<xs:attribute name="duration" type="xs:duration"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="CodecsType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z\-]+'[a-zA-Z]{1,8}(=[a-zA-Z]{1,8})*'(%[0-9A-F]{2}|[a-zA-Z0-9!#\\$\^_\-\+\{\}\|\.`~&#038;])+(.(%[0-9A-F]{2}|[a-zA-Z0-9!#\\$\^_\-\+\{\}\|\.`~&#038;])+)*(,(%[0-9A-F]{2}|[a-zA-Z0-9!#\\$\^_\-\+\{\}\|\.`~&#038;])+(.(%[0-9A-F]{2}|[a-zA-Z0-9!#\\$\^_\-\+\{\}\|\.`~&#038;])+)*)*">
				<xs:annotation>
					<xs:documentation>RFC6381 fancy-list</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="[a-zA-Z0-9!#\\$%\^\*_\-\+\{\}\|'\.`~&#038;]+(,[a-zA-Z0-9!#\\$%\^\*_\-\+\{\}\|'\.`~&#038;]+)*">
				<xs:annotation>
					<xs:documentation>RFC6381 simp-list</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<!-- Leap Second Information -->
	<xs:complexType name="LeapSecondInformationType">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="availabilityStartLeapOffset" type="xs:integer" use="required"/>
		<xs:attribute name="nextAvailabilityStartLeapOffset" type="xs:integer"/>
		<xs:attribute name="nextLeapChangeTime" type="xs:dateTime"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
